<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {{/* 🚨 كود التحقق من جوجل (تمت إضافته هنا) 🚨 */}}
  <meta name="google-site-verification" content="pgigX05_bS7NIfxgAqbgPF1yhXFxfBwGxSSkj62HsC4" />

  <title>{{ .Site.Title }}</title>
  
  {{/* ربط CSS البسيط والمباشر */}}
  {{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  
  {{/* Schema */}}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "{{ .Site.Params.company_name }}",
    "telephone": "{{ .Site.Params.phone }}"
  }
  </script>
</head>
